*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0;
    font-family: 'Poppins', sans-serif;
    
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}
a{
    text-decoration: none;
    color: #000000;
}
#loginPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}
#loginBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 70vw;
    height: 70vh;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
    
}
#welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #33cc99, #a8e6cf);
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 50%;

}
#welcome >p{
    font-weight: 700;
font-size: 2.5rem;
color:#ffffff;
text-align: center;
}
#welcome >h6{
    width: 80%;
    font-weight: 400;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
}




.button-18 {
  align-items: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  justify-content: center;
  line-height: px;
  max-width: 480px;
  min-height: 90px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #ffffff;
  color: #3ECE9E;
  border: #ffffff 2px solid;
}

.button-18:active {
  background: #898d92;
  color: rgb(255, 255, 255, .7);
}

#loginFormBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
}
#formTitle{
font-size: 3rem;
display: flex;
width: 80%;
height: 10%;
justify-content:flex-start;
align-items: center;
font-weight: bolder;
}
#loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2vh;
    align-items: center;
    height: 35vh;
    width: 100%;
}
.inputBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 50%;
    width: 25vw;
}
.inputBox>input{
    width: 100%;
    height: 7vh;
    border: 0px ;
    background-color: rgb(235, 233, 233);
    border-radius: 45px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    
}
.inputBox>input:after{
    border: 0px ;
    background-color: #ffffff;
}
.inputBox>label{
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
text-align: left;
}
.LoginBtn{
    display: flex;
    border: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    background-color: #33cc99;
    border-radius: 45px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.5s;
}
.LoginBtn:hover{
    background-color: #000000;
}
.LoginBtn:active{
    background-color: #898d92;
}