
:host{
    text-align: center;
    background-color: grey;
  }
  .app-name {
    margin: 20px 0;
    font-size: 36px;
    color: var(--accent-color); 
  }
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--neutral);
  }
  
  span {
    font-style: italic; 
  }
  
  .welcome-message {
    margin-top: 20px;
    background-color: #fff; 
    color: var(--info);
    padding: 20px;
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 70%;
    margin: 0 auto; 
  }
  
  p {
    font-size: 18px;
    line-height: 1.6; 
    margin-bottom: 20px;
  }
  
  .button {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 12px 24px; 
    border-radius: 20px; 
    font-size: 18px;
    transition: background-color 0.3s ease; 
    margin: 10px;
  }
  
  .button:hover {
    background-color: var(--accent-color);
  }